POSTGRESQL_DB_PG_16=host=localhost port=10016 password=password-_-12!@#%^&*()/;><.,]}{[ user=user-_-12!@#%^&*()/;><.,]}{[ db=database-_-12!@#%^&*()/;><.,]}{[ cron_rule=* * * * *
MYSQL_DB_TEST_80=host=localhost port=9080 password=password-_-12!@#%^&*()/;><.,]}{[ user=user-_-12!@#%^&*()/;><.,]}{[ db=database-_-12!@#%^&*()/;><.,]}{[ cron_rule=* * * * *
MARIADB_DB_TEST_1011=host=localhost port=12011 password=password-_-12!@#%^&*()/;><.,]}{[ user=user-_-12!@#%^&*()/;><.,]}{[ db=database-_-12!@#%^&*()/;><.,]}{[ cron_rule=* * * * *
#SINGLEFILE_MY_TEST_FILE=abs_path=/home/somefolder/somefile cron_rule=* * * * *
#DIRECTORY_MY_TEST_FOLDER=abs_path=/home/somefolder/someotherfolder cron_rule=* * * * *
LOG_LEVEL=INFO
BACKUP_MAX_NUMBER=2
ZIP_ARCHIVE_PASSWORD=passwordchangeme
BACKUP_PROVIDER=name=debug