name: ogion_services
services:
  ogion_unit_tests:
    restart: "no"
    network_mode: "host"
    platform: linux/${OGION_ARCH}
    build:
      context: ./../
      dockerfile: docker/Dockerfile
      target: tests

  ogion_acceptance_tests:
    restart: "no"
    network_mode: "host"
    platform: linux/${OGION_ARCH:-amd64}
    build:
      context: ./../
      dockerfile: docker/Dockerfile
      target: build
    command: bash
    env_file:
      - ./../.env

  ogion_stress_test:
    restart: "no"
    network_mode: "host"
    platform: linux/${OGION_ARCH:-amd64}
    build:
      context: ./../
      dockerfile: docker/Dockerfile
      target: stress
    env_file:
      - ./../.env.stress_test
    environment:
      - BACKUP_PROVIDER_NAME=${BACKUP_PROVIDER_NAME:-debug}
      - STRESS_ITERATIONS=${STRESS_ITERATIONS:-10}
    volumes:
      - /tmp:/tmp  # Mount /tmp to preserve stress test logs

  gcs:
    restart: "no"
    image: "fsouza/fake-gcs-server:latest"
    command: "-scheme http"
    ports:
      - 4443:4443
    volumes:
      - gcs-data:/data/stresstest

  minio:
    restart: "no"
    image: "quay.io/minio/minio:latest"
    command: "server /opt"
    ports:
      - 9000:9000

  azurite:
    restart: "no"
    image: "mcr.microsoft.com/azure-storage/azurite:latest"
    ports:
      - 10000:10000

volumes:
  gcs-data:
