name: release-build
on:
  release:
    types:
      - created

jobs:
  push_release_images_to_dockerhub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: linux/amd64,linux/arm64

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Cache
        uses: actions/cache@v5
        id: cache
        with:
          path: |
            var-cache-pip
            var-cache-apt
            var-lib-apt
          key: ${{ runner.os }}-cache-${{ hashFiles('docker/Dockerfile') }}

      - name: Inject cache into docker
        uses: reproducible-containers/buildkit-cache-dance@v3.3.0
        with:
          cache-map: |
            {
              "var-cache-pip": "/var/cache/pip",
              "var-cache-apt": "/var/cache/apt",
              "var-lib-apt": "/var/lib/apt"
            }
          skip-extraction: ${{ steps.cache.outputs.cache-hit }}

      - name: Build and push ogion image
        uses: docker/build-push-action@v6
        with:
          file: docker/Dockerfile
          context: .
          target: build
          # cache-from: type=gha,scope=python:3.14-slim-trixie
          # cache-to: type=gha,mode=max,scope=python:3.14-slim-trixie
          no-cache: true
          push: true
          tags: rafsaf/ogion:${{ github.ref_name }},rafsaf/ogion:latest
          platforms: linux/amd64,linux/arm64
