name: tests
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*.*"
  schedule:
    - cron: "12 12 * * *"

permissions:
  actions: write
  contents: read

jobs:
  tests:
    strategy:
      matrix:
        arch: ["amd64", "arm64"]

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: linux/${{ matrix.arch }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Download and start db containers
        run: |
          touch .env
          make docker_setup_up

      - name: Build and cache images
        uses: docker/build-push-action@v6
        with:
          file: docker/Dockerfile
          context: .
          target: tests
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: false
          tags: rafsaf/ogion:dev
          load: true
          platforms: linux/${{ matrix.arch }}

      - name: Build image and run tests in container
        env:
          OGION_ARCH: ${{ matrix.arch }}
        run: |
          touch .env
          make unit_tests
